<div style="width: 50%;margin: 0 auto;" class="panel panel-success" align="center">
    <div class="panel-heading">Signup-Admin</div>
    <div class="panel-body">
      <form  class="text-center">
        <input style="width: 50%; margin-left: 25%;" type="text"class="form-control" id="gname" ng-model='gname' name="gname" placeholder="Email"><br><br>
        <input style="width: 50%; margin-left: 25%;" class="form-control"type="password" id="pw" name="pw" ng-model='pw' placeholder="Password"><br><br>
        <button class='btn btn-success btn-lg' type="submit" id='btn' ng-click='sendTheData()'>Signup</button>
        <div class="gap margin-base-vertical">
          <h5 align="center">back to<a href="http://localhost:3000/#!/adminlogin"> Login</a></h5>
        </div>
    </div>
  </div>
  </form>