<div style="width: 50%;margin: 0 auto;"class="panel panel-primary" align="center" >
    <div class="panel-heading">Login-Admin</div>
    <div class="panel-body">
    <form class=" text-center">
      <br>
      <input style="width: 50%; margin-left: 25%;" type="text"class="form-control" id="gname" ng-model='gname' name="gname" placeholder="Email"><br><br>
      <input style="width: 50%; margin-left: 25%;" type="password" class="form-control" id="pw" name="pw" ng-model='pw' placeholder="Password"><br><br>
      <button class="btn btn-success btn-lg" type="submit" id='btn' ng-click='sendingTheData()'>Login</button><br>
      <div class="gap margin-base-vertical">
        <h5 align="center">Don't have an account? <a href="http://localhost:3000/#!/adminsignup">Create one</a></h5>
      </div>
    </form>
  </div>
  <div>