<div  style="width: 50%;margin: 0 auto;" class="panel panel-default">
  <div class="panel-heading" align="center" style="background-color:coral;color: black;font-weight: bold;font-size: large; text-decoration: underline;">Add Students Data</div>
  <form style="outline: auto; background-color:rgb(127, 205, 247);"  class="jumbotron text-center" name="myForm">
    <div class="panel-body" ></div>
    <label for="fname">First name:</label><br>
    <input style="width: 50%; margin-left: 25%;" type="text" class="form-control" id="fname" name="fname" ng-model="fname" my-directive><br>
    <span style="color:red;" ng-show="myForm.fname.$error.myDirective">
      add valid name</span><br>
    <label for="branch">Branch:</label><br>
    <input style="width: 50%; margin-left: 25%;" type="text" class="form-control" id="branch" name="branch" ng-model="branch" field><br>
    <span style="color:red;" ng-show="myForm.branch.$error.field">
      add valid branch</span><br>
    <label for="marks">Total Marks:</label><br>
    <input style="width: 50%; margin-left: 25%;" type="number" class="form-control" id="marks" name="marks" ng-model="marks" adult /><br>
    <span style="color:red;" ng-show="myForm.marks.$error.adult">
      Should be => 0 and <= 100</span><br>
        <label for="school">Choose Your School</label>
        <select style="width: 50%; margin-left: 25%;" class="form-control" aria-label=".form-select-lg example" id="school" name="school">
          <option value="DPS RK Puram">DPS RK Puram</option>
          <option value="DPS Nangloi">DPS Nangloi</option>
          <option value="DPS Krishna Nagar">DPS Krishna Nagar</option>
          <option value="Sr, Sec GOVT. School">Sr, Sec GOVT. School</option>
          <option value="The Doon School">The Doon School</option>
        </select>
        <label for="place">Choose Place</label>
        <select style="width: 50%; margin-left: 25%;" class="form-control" aria-label=".form-select-lg example" id="place" name="place">
          <option value="north">north</option>
          <option value="south">south</option>
          <option value="east">east</option>
          <option value="west">west</option>
        </select>
        <button type="submit" class="btn btn-danger" ng-click='consoleData()' ng-disabled="myForm.fname.$invalid">Add
          Details</button><br><hr style=" background-color: black; height: 1px; border: 0;">
          <label for="query3">SEED</label><br>
          <input style="width: 50%; margin-left: 25%;" type="number" class="form-control" id="query3" name="query3" placeholder="seed value">
          <button type="button" ng-click="seed()" class="btn btn-primary">Seed</button><br><br>
        <br><br>
        
      </div>
  </form>

</div>
<!DOCTYPE html>