<nav class="navbar navbar-expand-lg navbar-light bg-light"" role=" navigation">
    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><i
            class="fa fa-angle-double-down" style="font-size:30px"></i></button>
    <div uib-collapse="isCollapsed">
        <ul class="nav navbar-nav">
            <li><a style="background-color: coral;" class="btn btn-default" href="#!analytics">Analytics</a></li>
            <li><a style="background-color: coral;" class="btn btn-default" href="#!add">Add Student Info</a></li>
        </ul>
    </div>
    <div style="float: right;">
        <button class="btn btn-danger" ng-click="logout()">Logout</button>
    </div>
</nav>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <label for="search"> Find: </label>
    <input style="width: 40%; margin-left: 0%;" class="form-control" id="search" name="search" type="text"
        ng-model="vm.search">
</div><br>
<div class="container"></div>
<table style="background-color:rgb(73, 177, 226)" class="table table-hover table-striped table-bordered">
    <tbody>
        <tr>
            <th>NAME</th>
            <th>Maths</th>
            <th>English</th>
            <th>Hindi</th>
            <th>Science</th>
            <th>French</th>
            <th>SCHOOL</th>
            <th>CGPA</th>
        </tr>
        <tr ng-repeat="item in posts | filter:vm.search">
            <td>{{ item.name }}</td>
            <td>{{ item.maths }}</td>
            <td>{{ item.english }}</td>
            <td>{{ item.hindi }}</td>
            <td>{{ item.science }}</td>
            <td>{{ item.french }}</td>
            <td>{{ item.school }}</td>
            <td>{{item.cgpa}}</td>
        </tr>
    </tbody>
</table>
<div class="text-center">
    <ul uib-pagination ng-model="currentPage" total-items="totalItems" num-pages="numPages" ng-change="pageChange()"
        items-per-page="itemPerPage">
    </ul>
</div>