<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><i
            class="fa fa-angle-double-down" style="font-size:30px"></i></button>
    <div uib-collapse="isCollapsed">
        <div class="navbar-brand">
            <a href="javascript:void(null);" style="background-color: coral;" class="btn btn-default"
                data-toggle="modal" ng-click="showPopup()"> <span>Add Data</span></a>
        </div>
        <div class="navbar-brand">
            <a href="javascript:void(null);" style="background-color: coral;" class="btn btn-default"
                data-toggle="modal" ng-click="addschool()"> <span>Add School</span></a>
        </div>
        <div style="float: right;">
            <button class="btn btn-danger" ng-click="logout()">Logout</button>
        </div>
    </div>
</nav>
<div class="container"></div>
<table style="background-color:rgb(73, 177, 226)" class="table table-hover table-striped table-bordered">
    <tbody>
        <tr>
            <th>Region</th>
            <th>City</th>
            <th>Area</th>
            <th>School</th>
        </tr>
        <tr ng-repeat="item in schools | filter:vm.search">
            <td>{{ item.region }}</td>
            <td>{{ item.city}}</td>
            <td>{{ item.area }}</td>
            <td>{{ item.school }}</td>
        </tr>
    </tbody>
</table>